// Colors
$Darkcyan: hsl(185, 75%, 39%);
$Verydarkdesaturated: hsl(229, 23%, 23%);
$Darkgrayishblue: hsl(227, 10%, 46%);
$Darkgray: hsl(0, 0%, 59%);

//Text
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$textSize: 18px;
$lightWeight: 400;
$heavyWeight: 700;
$kumbhSans: 'Kumbh Sans', sans-serif;

//Flex center
@mixin flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

//text&pad
@mixin textPad($size) {
    padding-top: $size;
    text-align: center;
}
