@import "./variables";

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  height: 100vh;
  background-color: $Darkcyan;
  background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  background-repeat: no-repeat, no-repeat;
  font-family: $kumbhSans;
  line-height: 1.3;

  @include flexCenter();
}

.card {
  width: 21.875em;
  height: 23.4375em;
  position: relative;
  display: block;
  margin: 0;
  border-radius: 1.25em;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.card-header {
  width: 21.875em;
  height: 8.75em;
  background-image: url("../images/bg-pattern-card.svg");
  background-size: cover;
  background-position: center center;
}

.user-img {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  border: 0.3125em solid white;
  top: 5.3125em;
  left: 7.8125em;
}

.user-info {
  @include textPad(4.6875em);

  .name {
    font-weight: $heavyWeight;
    color: $Verydarkdesaturated;
    font-size: $textSize;
  }

  .age {
    font-weight: $lightWeight;
    color: $Darkgrayishblue;
    padding-left: 0.3125em;
  }
}

.city {
  @include textPad(1em);
  padding-bottom: 1.5625em;
  font-weight: $lightWeight;
  color: $Darkgrayishblue;
  border-bottom: 0.0625em solid #ccc;
  font-size: 0.875em;
}

.card-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2.8125em);
  text-align: center;
  margin: 0 2.8125em;

  .value {
    font-weight: $heavyWeight;
    color: $Verydarkdesaturated;
    align-self: end;
    font-size: $textSize;
  }

  .label {
    font-weight: $lightWeight;
    color: $Darkgrayishblue;
    font-size: 0.625em;
    margin-top: 0.625em;
  }
}

.attribution {
  text-align: center;
  padding-top: 3.5em;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: $Verydarkdesaturated;
    text-decoration: underline;
  }
}
